<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.syhl.byx3d.jinli"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 开始添加Amigo Play SDK 需要的权限,开发者重点关注 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:label="app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:label="app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 手游互联配置 -->
        <meta-data
            android:name="app_id"
            android:value="kk1529998195" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />

        <!-- 1有友盟  0没有 -->
        <meta-data
            android:name="isyoumeng"
            android:value="string1" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a38c2d9a40fa30ba400021b" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="金立" />
        <meta-data
            android:name="jinliapiKey"
            android:value="E5D6DB92B0D94408B685EB527EEED75E" />
        <meta-data
            android:name="jinliprivateKey"
            android:value="MIICdwIBADANBgkqhkiG9w0BAQEFAASCAmEwggJdAgEAAoGBAJeQjlIDLfriBYh9CwkLu3v82Di7g74rVo88aE0qyI3RodQ5FwBwAh4/nu6xy0avxDd3B6KRYNeoA8lKm/Filzb0wdzTnzTYEBKZeFPektlF2ral9lYMcSSaVpl17HJx9eFvFqHa2TPLlwfKwm7OK5ou6pPziIW2lJUbeRnHdwDrAgMBAAECgYBcAuwDqd5+EjzdsVvDsBWvnb3+IwhFqLWx2zBOuIxsXDlsRwRJxbXjeygXLGSFkysBqQc/kBZElcFGsD6fegTl7FYYlYuLV7YncYh4dBtkvdE3yBKW8nfQzMYvGeqspaH1q6/iv0pwQ13lKt8GPJ0Ibt4mr3dbIR6aoRlYacLDQQJBAOPnsMV2WX/ny4IJoPPUfW1Gf3ivnIchBc+BS/SVGIuTCNxod1NgTWA208Z6mbdXVGrlzX7PbRQRijozSJE/ItECQQCqP7BCYWws2BJUzfRGLYBmC+X96qDvN/uoFLvuo0YUdy7pj4+rt1e0hXR/YfzUnF0PF31JQHW2Tk69RA6t3X77AkEA3EBFbg/6Xso8uudjTUHGFZ1UA+Zzd4RKgUeLiEuu9PScU6YB6+nd3WYfNGm3tKAJTWXZOvxrhkGNPMHjF7vUgQJBAIuWaIgkpLMn/e+2ZcBcclg5DTvhck5xUk7/oQ8Ko90H01kAskWSr8B9Y4VF7CzOf6ZuFfVHerwc/IZGFNsNLp0CQFvQiR1URWkkTifa7zhGZ+stMZKcAmrO8333xvbD28IHYD6b8/B6vv5jI1fyjqFEOP/16BJoqk+Y/Wmh20JkZ+E=" />

              <!--开始添加Amigo Play SDK 需要的权限服务,开发者重点关注-->
        <service android:name="com.gionee.game.offlinesdk.floatwindow.floatwindows.FloatWindowService"/>
        <activity android:name="com.gionee.game.offlinesdk.business.message.MyMessageActivity"
				  android:exported="false"
                  android:theme="@style/zzz_activity_dialog">
            <intent-filter>
                <action android:name="com.gionee.pay.ic.MESSAGE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.gionee.game.offlinesdk.business.usercenter.MineActivity"
                  android:configChanges="orientation|screenSize"
				  android:exported="false"
                  android:theme="@style/zzz_activity_dialog">
            <intent-filter>
                <action android:name="amigoplay.intent.action.SINGLE.USERCENTER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.gionee.game.offlinesdk.business.usercenter.OfflineFeedBackActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
			android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="amigoplay.intent.action.OFFLINE_FEED_BACK"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.gionee.game.offlinesdk.business.usercenter.MyPrizeActivity"
                  android:screenOrientation="portrait"
				  android:exported="false"
                  android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="amigoplay.intent.action.SINGLE.MYPRIZE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.gionee.game.offlinesdk.business.gift.OfflineGameGiftActivity"
                  android:configChanges="orientation|screenSize"
				  android:exported="false"
                  android:theme="@style/zzz_activity_dialog">
            <intent-filter>
                <action android:name="amigoplay.intent.action.PERSONAL_CENTER_WELFARE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.gionee.game.offlinesdk.business.event.OfflineEventListActivity"
                  android:configChanges="orientation|screenSize"
				  android:exported="false"
                  android:theme="@style/zzz_activity_dialog">
            <intent-filter>
                <action android:name="amigoplay.intent.action.PERSONAL_CENTER_EVENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.gionee.game.offlinesdk.business.core.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
			android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="amigoplay.intent.action.WEBVIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.gionee.game.offlinesdk.business.core.lotterydraw.LotteryDrawDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
			android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
            <intent-filter>
                <action android:name="amigoplay.intent.action.LOTTERY_DRAW_DETAIL"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.gionee.game.offlinesdk.business.help.CustomerServiceActivity"
                  android:configChanges="orientation|screenSize"
				  android:exported="false"
                  android:theme="@style/zzz_activity_dialog">
            <intent-filter>
                <action android:name="com.gionee.pay.ic.CUSTOMER_SERVICE"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name="com.gionee.game.offlinesdk.business.usercenter.PersonalCenterActivity"
                  android:configChanges="orientation|screenSize"
				  android:exported="false"
                  android:theme="@style/zzz_activity_dialog">
            <intent-filter>
                <action android:name="amigoplay.intent.action.PERSONAL_CENTER"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <provider android:authorities="string_package.fileprovider"
                  android:name="android.support.v4.content.FileProvider"
                  android:exported="false"
                  android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--GSP service -->
        <activity
            android:name="com.gionee.gsp.service.activity.AssistActivity"
            android:configChanges="mcc|mnc|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <!--GSP service end -->
        <!-- account SDK -->
        <activity
            android:name="com.gionee.account.sdk.activity.AssistActivity"
            android:configChanges="mcc|mnc|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <meta-data
                android:name="version"
                android:value="6.0.0.c">
            </meta-data>
        </activity>
        <activity
            android:name="com.gionee.account.sdk.core.activity.SDKAccountChangeActivity"
            android:configChanges="mcc|mnc|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@style/gn_account_Theme.AndroidDevelopers.white"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.gionee.account.sdk.core.activity.SDKAuthorizationActivity"
            android:configChanges="mcc|mnc|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@style/gn_account_Theme.AndroidDevelopers.white"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.gionee.account.sdk.core.activity.SDKLoginActivity"
            android:configChanges="mcc|mnc|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@style/gn_account_sdk_Theme.FloatActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.gionee.account.sdk.core.activity.SDKLoginingActivity"
            android:configChanges="mcc|mnc|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="unspecified"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name="com.gionee.account.sdk.core.activity.SDKDialogActivity"
            android:configChanges="mcc|mnc|orientation|screenSize"
            android:launchMode="singleInstance"
            android:screenOrientation="unspecified"
            android:theme="@style/gn_account_sdk_Theme.FloatActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name="com.gionee.account.sdk.core.AccountService">
            <intent-filter>
                <action android:name="com.gionee.account.aidl.GNAccountInterface"/>
            </intent-filter>
        </service>
        <!--account sdk end -->
        <!--结束Amigo Play SDK 需要的权限服务,开发者重点关注-->
    </application>

</manifest>