<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name="com.bufan.ceshi.bufanApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:label="app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kkgame.sdk.login.BaseLogin_Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.kkgame.sdk.login.SmallHelpActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

        <!-- 手游互联配置 -->
        <meta-data
            android:name="app_id"
            android:value="kk2832964261" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />
        <meta-data
            android:name="yayawan_orientation"
            android:value="landscape" />
        <meta-data
            android:name="sdktype"
            android:value="string2" />

        <service android:name="com.bufan.ceshi.killSelfService" />
    </application>

</manifest>