<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    
    
    <!--hfsdk 权限声明-->
   <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
<uses-permission android:name="android.permission.VIBRATE" />

<!--hfsdk 权限声明-->
    
    

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:label="app_name" >
            
        </activity>
      
        
      <!-- 手游互联配置 -->
     	 <meta-data
            android:name="app_id"
            android:value="kk2525862069" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />
        
         <!-- 渠道配置开始 -->
         
          <meta-data
            android:name="hf_appid"
            android:value="string80986" />
          
           <meta-data
            android:name="hf_appkey"
            android:value="3c5de8a01c637a82690c41" />
           
            <meta-data
            android:name="gamename"
            android:value="超能特战队" />
          
          <activity
                android:name="com.hanfeng.nsdk.NSdkSplashActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Light.NoTitleBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
        <!-- hfsdk的组件声明   (必接)-->
        <activity
                android:name="com.hanfeng.guildsdk.YhSDKActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="yysdk"
                android:screenOrientation="behind"
                android:theme="@android:style/Theme.Light.NoTitleBar">
        </activity>

        <activity
                android:name="com.unionpay.uppay.PayActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:excludeFromRecents="true"
                android:label="@string/app_name"/>

        <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind">
        </activity>

        <activity
                android:name="com.alipay.sdk.auth.AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind">
        </activity>

        <activity
                android:name="com.hanfeng.guildsdk.activity.FloatWindowActivity"
                android:configChanges="orientation|keyboardHidden|keyboard|screenLayout|screenSize"
                android:screenOrientation="behind"
                android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <activity
                android:name="com.hanfeng.guildsdk.activity.FloatMineActivity"
                android:configChanges="keyboardHidden|keyboard|screenLayout|screenSize"
                android:screenOrientation="behind"
                android:theme="@android:style/Theme.Light.NoTitleBar"/>

        <receiver android:name="com.hanfeng.guildsdk.services.HfTaskReceiver"/>

        <!--指定闪屏后要跳转的Activity  key值固定是：HfGameMainActivity  value值根据实际要跳转的Activity-->
        <meta-data
                android:name="HfGameMainActivity"
                android:value="com.yayawan.sdktemplate.MainActivity"/>
        <!-- 渠道配置结束 -->
    
    </application>

</manifest>

