<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    
     <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.webkit.permission.PLUGIN"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    
    <uses-permission android:name="android.permission.NFC" />
    	<uses-feature android:name="android.hardware.nfc.hce"/>
    	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
    	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    	<uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:screenOrientation="landscape"
            android:label="app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        
      <!-- 手游互联配置 -->
     	 <meta-data
            android:name="app_id"
            android:value="kk712663145" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />
    
        <!-- 以下为啪啪sdk所需要的activity 以及service -->
        
         <meta-data
            android:name="callback"
            android:value="https://api.sdk.75757.com/pay/notify/712663145/" />
         
         <meta-data
            android:name="gamename"
            android:value="我的便利店" />
		
        
       <!-- 以下为啪啪sdk所需要的activity 以及service -->


         <activity
            android:name="com.unionpay.uppay.PayActivity"
            android:configChanges="orientation|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <activity
            android:name="com.papa91.pay.pa.activity.MGMainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleNoAnimation"></activity>

        <activity
            android:name="com.papa91.pay.pa.activity.PANoticeDialogActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="sensor"
            android:theme="@style/MyDialog"></activity>
      <activity
            android:name="com.papa91.pay.pa.activity.OemDetailActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/NoTitleNoAnimation" />

        <activity
            android:name="com.papa91.pay.pa.activity.AdvertActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="false"
            android:screenOrientation="sensor"
            android:theme="@style/MyDialog2"></activity>


        <activity
            android:name="com.papa91.pay.widget.album.MyAlbumActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/NoTitleNoAnimation" />

        <activity
            android:name="com.papa91.pay.widget.photoviewer.ImagePagerActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleNoAnimation" />

        <activity
            android:name="com.papa91.pay.pa.activity.SharePostsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:theme="@style/NoTitleNoAnimation" />

        <activity
            android:name="com.papa91.pay.pa.activity.ShareWebActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/NoTitleNoAnimation" />

        <activity
            android:name="com.papa91.pay.pa.activity.PaayActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation|screenSize"
            android:label="@string/papaName"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"></activity>


        <activity
            android:name="com.heepay.plugin.activity.WeChatNotityActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
             android:theme="@style/ActivityNotTransparent" />

        <activity
            android:name="com.mokredit.payment.MktPayment"
            android:configChanges="orientation|keyboardHidden|screenLayout|screenSize"
            android:excludeFromRecents="true"
            android:label="@string/papaName"></activity>
        <!-- 支付宝-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"></activity>

        <activity
            android:name="com.papa91.pay.pa.activity.PALoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="sajdasdsa"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>


        <service android:name="com.papa91.pay.pa.service.FloatWindowService" />
        <!--  2.1.1 新增-->
        <receiver android:name="com.papa91.pay.pa.PapaBootRecver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"></action>
            </intent-filter>
        </receiver>

        <activity
            android:name="com.switfpass.pay.activity.QQWapPayWebView"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 3.0.5 新增-->
        <provider
            android:name="com.papa91.pay.utils.WuFunFileProvider"
            android:authorities="string_package.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/wufunfile_paths" />
        </provider>
     
        <uses-library
            android:name="org.simalliance.openmobileapi"
            android:required="false" />

        <activity
            android:name="com.unionpay.UPPayWapActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />


        <!-- 微支付SDK界面 -->
        <!-- 显示网页界面 -->
        <activity
            android:name="com.iapppay.sdk.main.WebActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.PersonCenterActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 收银台-普通 -->
        <activity
            android:name="com.iapppay.ui.activity.PayHubActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 选择充值金额界面 -->
        <activity
            android:name="com.iapppay.ui.activity.SelectAmountActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.iapppay.ui.activity.ChargeActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 游戏卡和话费卡界面 -->
        <activity
            android:name="com.iapppay.ui.card.GamepayActivity"
            android:configChanges="screenSize|orientation|keyboard|navigation|layoutDirection"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 以上为啪啪sdk所需要的activity 以及service -->

        <!-- 以下为啪啪分配的appkey和privatekey -->
        <!--<meta-data-->
            <!--android:name="PA_APP_KEY"-->
            <!--android:value="20160127" />-->
        <!--<meta-data-->
            <!--android:name="PA_APP_PRIVATE_KEY"-->
            <!--android:value="720b1254d80d89e3" />  -->
        <meta-data
            android:name="PA_APP_KEY"
            android:value="20160128" />
        <meta-data
            android:name="PA_APP_PRIVATE_KEY"
            android:value="b8ffdb1cdc63d52a" />
        <!-- 以上为啪啪分配的appkey和privatekey -->
        
    </application>

</manifest>

