<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.sy233.pay" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:supportsRtl="true"
        android:theme="@style/sy233AppTheme" >
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/sy233AppTheme" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/sy233AppTheme" >
        </activity>
        <activity
            android:name="cn.sy233.sdk.WebviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:theme="@style/sy233transTheme" >
        </activity>
    </application>

</manifest>