<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="vivo.game.permission.OPEN_JUMP_INTENTS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.bbk.account.permission.READ_ACCOUNTINFO" />

     <!-- 新增权限 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    
    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:label="app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 手游互联配置 -->
        <meta-data
            android:name="app_id"
            android:value="kk2823317280" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />
        
        
          <meta-data
            android:name="vivo_appid"
            android:value="7a2fc3007c6fa8515109e3c0b8bc4233" />
        
<meta-data
		android:name="vivo_union_sdk"
		android:value="4.2.4.0" />

	<!-- vivo sdk componets start -->
	<!--vivo sdk的Activity-->
	<activity android:name="com.vivo.unionsdk.ui.UnionActivity"
			  android:configChanges="orientation|keyboardHidden|navigation|screenSize"
			  android:theme="@android:style/Theme.Dialog">
		<intent-filter>
			<action android:name="android.intent.action.VIEW"/>
			<category android:name="android.intent.category.DEFAULT"/>
			<category android:name="android.intent.category.BROWSABLE"/>
			<data
				android:scheme="vivounion"
				android:host="union.vivo.com"
				android:path="/openjump"/>
		</intent-filter>
	</activity>
	<!-- vivo sdk componets end -->
    </application>

</manifest>