<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <!-- 照相的权限 -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- 读取短信验证码	可选 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <!-- 录像需要的权限 -->
    <uses-permission android:name="android.permission.RECORD_VIDEO" />

    <!-- 添加可以向外拨打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 11月15号新增 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 11-28新增加的2个权限 -->
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:label="app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        
        <activity
            android:name="com.game.sdk.ui.mainUI.LoginPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.LoginPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.LoginQuickActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.LoginQuickResultActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetChoseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetPwdActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetPwdChooseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetPwdPhoneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.ForgetPwdEmailActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.LoginYxfSeleAccActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.LoginGameSeleAccActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />

        <!-- 权限管理 -->
        <activity
            android:name="com.game.sdk.ui.mainUI.PermissonActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.FloatWebActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.SDKTransparent"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.game.sdk.ui.mainUI.GetInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan" />

        <service android:name="com.game.sdk.SDKAppService" >
            <intent-filter android:priority="1000" >
                <action android:name="SDKService" />
            </intent-filter>
        </service>

        <!-- 0为横屏，1为竖屏 -->
        <meta-data
            android:name="screenOrientation"
            android:value="screenOrientation:0" />
        <meta-data
            android:name="YG_APPID"
            android:value="YG_APPID:190311320181" />
        <meta-data
            android:name="YG_SPLASH"
            android:value="YG_SPLASH:0" />
        <!-- provider authorities的值com.demo.sdkinsapk里面的com.demo换成你们自己的包名 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="string_package.sdkinsapk"
            android:exported="false"
            android:grantUriPermissions="true" >

            <!-- 元数据 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/yxf_file_paths" />
        </provider>
        <!-- 11月15号新增 -->
        <activity android:name="com.anjiu.buff.mvp.ui.activity.GameInfoActivity" >
        </activity>

        <!-- meta-data需要写在application中 -->
       
        <!-- 手游互联配置 -->
        <meta-data
            android:name="app_id"
            android:value="kk3982105996" />
        <meta-data
            android:name="isLandscape"
            android:value="false" />
        <meta-data
            android:name="callback"
            android:value="https://api.sdk.75757.com/pay/notify/3982105996/" />
        
        
         <meta-data
            android:name="SDK_APPID"
            android:value="7129" />
        <!-- SDK_GAMEID的值android:value="5"在4.0有意义，运营会在qq群分配参数给你们去替换 -->
        <meta-data
            android:name="SDK_GAMEID"
            android:value="7848" />
        <meta-data
            android:name="SDK_AGENT"
            android:value="default" />
    </application>

</manifest>