<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- SDK -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- SDK -->
    <!-- TODO SDK接入必须权限模块 START -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 登录上报时需要带设备名称, 通过蓝牙模块来获取设备名称 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- 可选的权限：异常上报系统log,XG也需要 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!-- TODO SDK接入必须权限模块 START -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- TODO GAME SDK Midas接入配置 设置屏幕兼容声明 START -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    
    <!-- 【常用】 信鸽SDK所需权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true" />
    <!-- TODO GAME SDK Midas接入配置 设置屏幕兼容声明 END -->
    <!-- TODO GAME SDK Midas接入配置 设置屏幕兼容声明 END -->

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity1"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="MYq3q"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- TODO SDK接入 QQ接入配置 START -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencentstring_appid" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- TODO SDK接入 QQ接入配置 END -->


        <!-- TODO SDK接入 微信接入配置 START -->
        <!-- 注意：此处应改为 游戏包名.wxapi.WXEntryActivity -->
        <!-- 注意：此处应改为 游戏包名.diff -->
        <!-- TODO SDK接入 微信接入配置 START -->
        <!-- 注意：此处应改为 游戏的微信appid -->
        <activity
            android:name="string_package.wxapi.WXEntryActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="WXEntryActivity"
            android:launchMode="singleTop"
            android:taskAffinity="string_package.diff" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="string_appwxid" />
            </intent-filter>
        </activity>
        <!-- TODO SDK接入 微信接入配置 END -->
        
         <!--新增-->
        <!-- TODO GAME 1.4.1之后版本支持微信扫码登录，低于此版本升级的YSDK务必增加此处Activity用于二维码展示 -->
        <activity android:name="com.tencent.ysdk.module.user.impl.wx.qrcode.QRActivity" >
        </activity>


        <!-- TODO GAME SDK接入YSDK实名制接入配置 START -->
        <activity
            android:name="com.tencent.ysdk.module.realName.impl.RegisterRealNameActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="sensor"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- TODO GAME SDK接入YSDK实名制接入配置 END -->


        <!-- TODO GAME SDK Midas接入配置 START -->
        <activity
            android:name="com.tencent.midas.proxyactivity.APMidasPayProxyActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.midas.wx.APMidasWXPayActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.midas.qq.APMidasQQWalletActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="qwallet100703379" />
                <!-- TODO GAME 这里为米大师的默认配置，游戏不要修改 -->
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.midas.jsbridge.APWebJSBridgeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <!-- TODO GAME SDK Midas接入配置 END -->

 <!--新增-->
 <!--省流量更新SDK的下载服务须注册-->
        <service
            android:name="com.tencent.tmdownloader.TMAssistantDownloadService"
            android:exported="false"
            android:process=":TMAssistantDownloadSDKService"></service>
        
        <!-- BaseLogin_Activity 登录 -->
        <activity
            android:name="com.yayawan.sdk.jflogin.BaseLogin_Activity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:theme="@android:style/Theme.Dialog" />
        
        
          <!-- TODO GAME SDK 推送能力接入配置 START -->
<!-- 【必须】 信鸽Activity -->
<activity
    android:name="com.tencent.android.tpush.XGPushActivity"
    android:exported="false"
    android:theme="@android:style/Theme.Translucent">
    <intent-filter>
        <!-- 若使用AndroidStudio，请设置android:name="android.intent.action" -->
        <action android:name="android.intent.action" />
    </intent-filter>
</activity>
<!-- 【必须】 信鸽receiver广播接收 -->
<receiver
    android:name="com.tencent.android.tpush.XGPushReceiver"
    android:process=":xg_service_v4">
    <intent-filter android:priority="0x7fffffff">
        <!-- 【必须】 信鸽SDK的内部广播 -->
        <action android:name="com.tencent.android.tpush.action.SDK" />
        <action android:name="com.tencent.android.tpush.action.INTERNAL_PUSH_MESSAGE" />
        <!-- 【必须】 系统广播：开屏和网络切换 -->
        <action android:name="android.intent.action.USER_PRESENT" />
        <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
        <!-- 【可选】 一些常用的系统广播，增强信鸽service的复活机会，请根据需要选择。当然，你也可以添加APP自定义的一些广播让启动service -->
        <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
        <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
        <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
    </intent-filter>
</receiver>

<!-- 【必须】YSDK实现的Receiver，用于接收消息透传和操作结果的回调 -->

<receiver
    android:name="com.tencent.ysdk.module.push.XGPushModule"
    android:exported="true">
    <intent-filter>
        <!-- 接收消息透传 -->
        <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
        <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
        <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
    </intent-filter>
</receiver>

<!-- 【必须】 信鸽service -->
<service
    android:name="com.tencent.android.tpush.service.XGPushServiceV4"
    android:exported="true"
    android:persistent="true"
    android:process=":xg_service_v4" />

<!-- 【必须】 提高service的存活率 -->
<service
    android:name="com.tencent.android.tpush.rpc.XGRemoteService"
    android:exported="true">
    <intent-filter>
        <!-- 【必须】 请修改为当前APP包名 .PUSH_ACTION, 如demo的包名为：com.qq.xgdemo -->
        <action android:name="string_package.PUSH_ACTION" />
    </intent-filter>
</service>
<!-- 【必须】 增强xg_service存活率 -->
<service
    android:name="com.tencent.android.tpush.service.XGDaemonService"
    android:process=":xg_service_v4" />
<!-- 【必须】 【注意】authorities修改为 包名.AUTH_XGPUSH, 如demo的包名为：com.tencent.tmgp.yybtestsdk-->
<provider
    android:name="com.tencent.android.tpush.XGPushProvider"
    android:authorities="string_package.AUTH_XGPUSH"
    android:exported="true" />

<!-- 【必须】 【注意】authorities修改为 包名.TPUSH_PROVIDER, 如demo的包名为：com.tencent.tmgp.yybtestsdk-->
<provider
    android:name="com.tencent.android.tpush.SettingsContentProvider"
    android:authorities="string_package.TPUSH_PROVIDER"
    android:exported="false" />

<!-- 【必须】 【注意】authorities修改为 包名.TENCENT.MID.V3, 如demo的包名为：com.tencent.tmgp.yybtestsdk-->
<provider
    android:name="com.tencent.mid.api.MidProvider"
    android:authorities="string_package.TENCENT.MID.V3"
    android:exported="true"></provider>


<!-- 【必须】 请将YOUR_ACCESS_ID修改为游戏的AccessId，如果没有自己注册信鸽可以在OPEN官网后台查询，“21”开头的10位数字，中间没空格 -->
<meta-data
    android:name="XG_V2_ACCESS_ID"
    android:value="2100285369" />
<!-- 【必须】 同上，请将YOUR_ACCESS_KEY修改为APP的AccessKey，“A”开头的12位字符串，中间没空格 -->
<meta-data
    android:name="XG_V2_ACCESS_KEY"
    android:value="AFAT6M3137HG" />
<!-- 【必须】 CHANNEL_ID无需修改保持不变-->
<meta-data
    android:name="XG_V4_CHANNEL_ID"
    android:value="1234567" />
<!-- TODO GAME SDK 推送能力接入配置 End -->
        

        <meta-data
            android:name="com.tencent.rdm.uuid"
            android:value="55f4d74e-ce87-4cab-afc7-407814265410" />
        <meta-data
            android:name="appid"
            android:value="1105700013" />
        <meta-data
            android:name="qqAppId"
            android:value="string1105700013" />
        <meta-data
            android:name="wxAppId"
            android:value="wx220382b320669dd6" />
        <meta-data
            android:name="wxAppKey"
            android:value="US0eJdTdfjV4klzCgvs8Mj1JeZyT0R5x" />
        <meta-data
            android:name="addexit"
            android:value="yes" />
        <meta-data
            android:name="moneyrate"
            android:value="string10" />

        <!-- 腾讯广点通上报方案最后一个是广告主id -->
        <meta-data
            android:name="guangdiantong"
            android:value="yes" />
        <meta-data
            android:name="app_id"
            android:value="kk2594202898" />
        <meta-data
            android:name="isLandscape"
            android:value="false" />

        <!-- 是否为调试模式 -->
        <meta-data
            android:name="isdebug"
            android:value="false" />
        <meta-data
            android:name="USE_DEFALUT_LOGIN"
            android:value="yes" />
        <meta-data
            android:name="isyoumeng"
            android:value="string1" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a1e71aab27b0a3b68000111" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="应用宝" />
    </application>

</manifest>