<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    
    
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="org.simalliance.openmobileapi.SMARTCARD" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="cn.swiftpass.wxpay.permission.MMOAUTH_CALLBACK" />
    <uses-permission android:name="cn.swiftpass.wxpay.permission.MM_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.nfc.hce" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.webkit.permission.PLUGIN" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 照相的权限 -->
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.hardware.camera.autofocus" />
    <!-- 读取短信验证码	可选 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 在Activity中重写onConfigurationChanged -->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    
    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:label="app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
      
        
      <!-- 手游互联配置 -->
     	 <meta-data
            android:name="app_id"
            android:value="kk1078801252" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />
    
        
        <meta-data
            android:name="TY_APPID"
            android:value="string62545" />
        <meta-data
            android:name="TY_CLIENTID"
            android:value="string2548" />
        <meta-data
            android:name="TY_CLIENTKEY"
            android:value="44db9fcd3d63d430e901a7155d1758bf" />
        
        <!-- 横竖屏切换检测必须要 加入 -->
        <activity
            android:name="com.sdk.tysdk.ui.TYActivity"
            android:configChanges="orientation|keyboard|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.switfpass.pay.activity.QQWapPayWebView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service android:name="com.sdk.tysdk.ui.TYAppService" />
    </application>

</manifest>

