<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yayawan.sdktemplate"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name="com.yayawan.impl.YYApplication"
        android:allowBackup="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.yayawan.sdktemplate.MainActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:label="app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 手游互联配置 -->
        <meta-data
            android:name="app_id"
            android:value="kk595899619" />
        <meta-data
            android:name="isLandscape"
            android:value="true" />
        
        <meta-data
            android:name="xj_appid"
            android:value="string1280" />

        <meta-data
            android:name="startactivity"
            android:value="com.yayawan.sdktemplate.MainActivity" />
        
        <!-- 渠道配置 -->



        <!-- Login module -->
        <service android:name="com.huluxia.sdk.login.usage.LogService" />
       <!-- 统计服务 -->
        <activity
            android:name="com.huluxia.sdk.login.ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Dialog" />
        <activity
            android:name="com.huluxia.sdk.login.ui.QuickRegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.huluxia.sdk.login.ui.FindPwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.huluxia.sdk.login.ui.ChangePwdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.huluxia.sdk.login.ui.BindActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.huluxia.sdk.login.ui.IdentifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Dialog"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.huluxia.sdk.login.ui.WebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/Dialog"
            android:windowSoftInputMode="adjustPan" />
        <!-- Login module END -->


        <!-- Pay module -->
        <activity
            android:name="com.huluxia.sdk.pay.ui.PayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/Dialog" >
        </activity>
        <!-- ipaynow begin -->
        <activity
            android:name="com.ipaynow.plugin.presenter.PayMethodActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.ipaynow.plugin.inner_plugin.wechatwp.activity.WeChatNotifyActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Dialog" />
        <!-- QQ 支付 -->
        <activity
            android:name="com.ipaynow.plugin.inner_plugin.qqwp.activity.QQWapPayActivity"
            android:configChanges="keyboardHidden|navigation|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false" >
        </activity>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind" >
        </activity>
        <activity
            android:name="com.shuyufu.wappay.wap.SyfPayActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.huluxia.sdk.pay.ui.PayIdentifyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/Dialog" />
        <activity
            android:name="com.huluxia.sdk.pay.ui.PayReAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@style/Dialog" />
        <!-- -Pay module END -->

    </application>

</manifest>